{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    h1, h2          { font-family: 'Verdana', serif; margin: 0; }
    body            {font-family: 'Verdana', serif; }
    {#a, h1, h2       { color: #377ba8; }#}
    h1, h2          { font-family: 'Verdana', serif; margin: 0; }
    h2              { font-size: 1.2em; }
    .button {
		    background-color: #4CAF50;
		    border: none;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
		    margin: 4px 2px;
		    cursor: pointer;
            box-shadow: 0 1px #999;
		}
    .button:hover {background-color: #3e8e41
    }
    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 2px #666;
      transform: translateY(2px);
    }
    .filebutton {
        background-color: white;
        border: none;
        color: black;
        padding: 15px 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .actbutton {
        width: 100%;
        background-color: steelblue;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 1px #999;
    }
    .actbutton:hover {background-color: #4065a1;
    }
    .actbutton:active {
      background-color: #4065a1;
      box-shadow: 0 2px #666;
      transform: translateY(2px);
    }
    .inputBox {
        {#width: 50%;#}
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    .container {
        max-width: 100%;
        max-height: 80%;
        margin: 10px auto;
    }
    .headcontainer {
        max-width: 100%;
        max-height: 80%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    </style>
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    {% if title %}{{ title }}{% else %}SL API{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('routes.index') }}">SL API</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('routes.upload') }}">Upload</a></li>
                    <li><a href="{{ url_for('routes.remove') }}">Remove</a></li>
                </ul>
                {% if g.search_form %}
                <form class="navbar-form navbar-left" method="get"
                        action="{{ url_for('routes.search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control',
                            placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
                {% endif %}
{#                <ul class="nav navbar-nav navbar-right">#}
{#                    {% if current_user.is_anonymous %}#}
{#                    <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>#}
{#                    {% else %}#}
{#                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>#}
{#                    <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
            </div>
        </div>
    </nav>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}