{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
     {{ super() }}
    <style>
     .inputBox {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    </style>
{% endblock %}
{% block app_content %}
<div class="headcontainer">
    <h1>Remove hosts</h1>
</div>

<div class="container">
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="form-group col-md-4">
            {{ wtf.form_field(form.name, class='inputBox') }}
        </div>
            </div>
    <div class="row">
        <div class="form-group col-md-3">
            {{ wtf.form_field(form.submit, class='button') }}
        </div>
    </div>
</form>
</div>
{% endblock %}
