{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h1>Node parameters</h1>
<br>

<p>
<form action="" method="post" novalidate>
    {{ update_form.hidden_tag() }}
    {{ wtf.form_field(update_form.submit, class='button') }}
</form>
</p>

{% if node %}
<p>
<a href="{{ url_for('routes.set', node_name=node['name']) }}" class="button" role="button"
   aria-pressed="true">
    Set parameters <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
</p>
<p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
  {% for key, value in node.object_as_dict().items() %}
        <tr>
        <th scope="col">{{ key }}</th>
        {% if key == 'last_updated' %}
            <td>{{ moment(value).format('LLL') }}</td>
        {% else %}
            <td>{{ value }}</td>
        {% endif %}
        </tr>
    {% endfor %}
  </tbody>
</table>
</p>
{% endif %}

{% endblock %}